@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Message"]</h2>


<p>Alex Douglas @ViewData["Adm"]</p>

<address>
    <strong>More information: </strong><a href="https://github.com/AlexDoug33">github.com/AlexDoug33</a>
</address>